{% load static %}


<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="{% static 'asset/css/bootstrap.min.css' %}">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="{% static 'asset/css/animate.min.css' %}">
        <!-- FlatIcon CSS -->
        <link rel="stylesheet" href="{% static 'asset/css/flaticon.css' %}">
        <!-- Odometer Min CSS -->
        <link rel="stylesheet" href="{% static 'asset/css/odometer.min.css' %}">
        <!-- MeanMenu CSS -->
        <link rel="stylesheet" href="{% static 'asset/css/meanmenu.css' %}">
        <!-- Magnific Popup Min CSS -->
        <link rel="stylesheet" href="{% static 'asset/css/magnific-popup.min.css' %}">
        <!-- Nice Select Min CSS -->
        <link rel="stylesheet" href="{% static 'asset/css/nice-select.min.css' %}">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="{% static 'asset/css/owl.carousel.min.css' %}">
        <!-- Font Awesome All Min CSS -->
        <link rel="stylesheet" href="{% static 'asset/css/all.min.css' %}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'asset/css/style.css' %}">
        <!-- Dark CSS -->
        <link rel="stylesheet" href="{% static 'asset/css/dark.css' %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'asset/css/responsive.css' %}">

        <link rel="icon" type="image/png" href="{% static 'asset/img/favicon.png' %}">
</head>