{% load static %}


    <!-- jQuery Min JS -->
        <script src="{% static 'asset/js/jquery.min.js' %}"></script>
        <!-- Bootstrap Min JS -->
        <script src="{% static 'asset/js/bootstrap.bundle.min.js' %}s"></script>
        <!-- MeanMenu JS  -->
        <script src="{% static 'asset/js/jquery.meanmenu.js' %}"></script>
        <!-- Appear Min JS -->
        <script src="{% static 'asset/js/jquery.appear.min.js' %}"></script>
        <!-- Odometer Min JS -->
        <script src="{% static 'asset/js/odometer.min.js' %}"></script>
        <!-- Owl Carousel Min JS -->
        <script src="{% static 'asset/js/owl.carousel.min.js' %}"></script>
        <!-- Magnific Popup Min JS -->
        <script src="{% static 'asset/js/jquery.magnific-popup.min.js' %}"></script>
        <!-- Nice Select Min JS -->
        <script src="{% static 'asset/js/jquery.nice-select.min.js' %}"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="{% static 'asset/js/jquery.ajaxchimp.min.js' %}"></script>
        <!-- WOW Min JS -->
        <script src="{% static 'asset/js/wow.min.js' %}"></script>
        <!-- Form Validator Min JS -->
        <script src="{% static 'asset/js/form-validator.min.js' %}"></script>
        <!-- Contact Form Min JS -->
        <script src="{% static 'asset/js/contact-form-script.js' %}"></script>
        <!-- Main JS -->
        <script src="{% static 'asset/js/main.js' %}"></script>